
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;
  
  
}.form-container{
    
    padding: 50px 60px;
    
    
}
.menu-icone{
  font-size: 1.7rem;
  text-align: center;
  line-height: 60px;
  border:1px solid#EBEBEB;

}

.logo{
  text-align:center;
  padding: 5rem;
  color: blue;

}
.dropdown-menu-button{
  background-color: #366cc8;
  color: aliceblue;
  font-size: 40px;
  line-height: 40px;
  border: 0;
  border-radius: 1.5rem;
float:right;
}
.contener{
  text-align:center;
}
.event1{
  border: 1px solid #EBEBEB;
  
}
.footer-menu-icone{
  text-align:center;
  line-height: 60px;
  bottom: 0;
  font-size: 1.7rem;
  border:1px solid#EBEBEB;
  
}