@font-face {
  font-family: Roboto-Bold;
  src: url(../police/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../police/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../police/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../police/Roboto/Roboto-Medium.ttf);
}


body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto-Light;
  font-size: 15px;
  background-color: #EFEFEF;
}

[class^="col-"],
[class*=" col-"],
.row {
  padding: 0;
  margin: 0;
}

.add-button {
  position: fixed;
  z-index: 9999;
  bottom: 7.5rem;
  right: 1.5rem;
  border-radius: 100%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #FF7920F0;
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem 0.07rem rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0.3rem 0.3rem 0.3rem 0.07rem rgba(0, 0, 0, 0.23);
  box-shadow: 0.3rem 0.3rem 0.3rem 0.07rem rgba(0, 0, 0, 0.23);
}


.add-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 1.7rem;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*bouton tabs*/
header .icon-container {
  position: relative;
  text-align: center;
}

header .icon-container::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  top: 50%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

header .icon-container:last-child::after {
  position: absolute;
  content: initial;
}

.menu-button {
  width: 100%;
  background-color: #EBEBEB;
  position: fixed;
  z-index: 9999;
  top: 0;
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem 0.07rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0.3rem 0.3rem 0.3rem 0.07rem rgba(0, 0, 0, 0.2);
  box-shadow: 0.3rem 0.3rem 0.3rem 0.07rem rgba(0, 0, 0, 0.2);
}
.menu-button ul {
  margin: 0;
  padding: 0;
}
.menu-button li {
  list-style-type: none;
}
.menu-button ul li {
  float: left;
  position: relative;
}
.menu-button button {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  background-color: #FFFFFF;
  border: none;
  outline: 0;
  cursor: pointer;
}
.menu-button button {
  text-align: center;
}
.menu-button button i {
  color: #468DF0;
  font-size: 1.8rem;
  line-height: 3.9rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.menu-button button i.active {
  color:#FF7920F0;
  text-shadow: none ;
}
/*collapsible*/
main {
  margin-top: 5rem;
}

.collapsible {
  margin: .0rem 0 1rem 0;
  padding-bottom: 6rem;
  border: none;

}
.collapsible>li {
  margin-top: 0;
}
.collapsible-header {
  display: flex;
  cursor: pointer;
  line-height: 1.5;
  padding: 1rem;
  margin: 0.333rem 0.533rem;
  background-color: #fff;
  font-size: 1.333rem;
  border: none;
  
}
.collapsible .list{
  border-radius: 5px;
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem 0.07rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0.3rem 0.3rem 0.3rem 0.07rem rgba(0, 0, 0, 0.2);
  box-shadow: 0.3rem 0.3rem 0.3rem 0.07rem rgba(0, 0, 0, 0.2);
}
.collapsible-body {
  border: none;
  padding: 2rem;
  margin: 0 0.533rem;
  margin-top: -0.333rem;
  background-color: #fff;
  font-size: 1.333rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0rem 0.07rem 0.2rem 0rem rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0rem 0.07rem 0.2rem 0rem rgba(0, 0, 0, 0.2);
  box-shadow: 0rem 0.07rem 0.2rem 0rem rgba(0, 0, 0, 0.2);
}

.collapsible-header i {
  width: 1rem;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
}

.collapsible p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-family: Roboto-Regular;
  
}
.collapsible .paragraph {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-family: Roboto-Regular;
  color: #757575;
}
.collapsible .icone{
  width: 2rem;
  display: inline-block;
}
.collapsible .translator-Requirer {
  font-family: Roboto-Bold;
}
.collapsible .language {
  font-family: Roboto-Regular;
}

.collapsible .translator-name {
  font-family: Roboto-light;
  font-size: 1.333rem;
}
.collapsible .address {
  font-family: client-name;
}
.collapsible .client-name {
  font-family: Roboto-Regular;
  font-size: 1.333rem;
}
.collapsible i {
  color: #757575;
}
.bouton {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: Roboto-Medium;
}

a.bouton1 {
  color: #468DF0;
  margin-left: 3rem;
  color: #FF7920;
}



.btn-floating.btn-large {
  width: 4.6rem;
  height: 4.6rem;
  padding: 0;
}

img {
  height: auto;
  width: 7rem;
}

/*collapsible*/

/*Footer*/


.menu-footer {
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  width: 100%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.2);
}
.menu-footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
.menu-footer li {
  list-style-type: none;
}
.menu-footer ul li {
  position: relative;
}
footer .icon-container::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  top: 50%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
footer .icon-container:last-child::after {
  position: absolute;
  content: initial;
}
.menu-footer ul::after {
  content: "";
  display: table;
  clear: both;
}
.menu-footer a {
  display: block;
  text-decoration: none;
}
.menu-footer ul li a {
  color: #000000;
}
.menu-footer ul li a i {
  color: #468DF0;
  font-size: 1.8rem;
  line-height: 3.9rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.menu-footer ul li a i.active {
  color:#FF7920F0;
  text-shadow: none ;
}

/*Footer*/