/**
* The scss loader for the admin dashboard
*/

/**
* The fonts css for the entire application (app & dashboard)
*/

@font-face {
  font-family: Roboto-Bold;
  src: url(/fonts/Roboto-Bold.ttf?ee7b96fa85d8fdb8c126409326ac2d2b);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto-Regular.ttf?3e1af3ef546b9e6ecef9f3ba197bf7d2);
}

@font-face {
  font-family: Roboto-Light;
  src: url(/fonts/Roboto-Light.ttf?fc84e998bc29b297ea20321e4c90b6ed);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/fonts/Roboto-Medium.ttf?d08840599e05db7345652d3d417574a9);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(/fonts/Roboto-Thin.ttf?89e2666c24d37055bcb60e9d2d9f7e35);
}

/**
* The css for the admin dashboard
*/

.sidenav {
  top: 65px;
}

.sidenav h5 {
  padding-left: 15px;
}

.container {
  /* margin: 0 auto; */
  max-width: 100%;
  width: 100%;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .container {
    width: 100%;
  }
}

