/**
* The scss loader for the admin dashboard
*/

/**
* The fonts css for the entire application (app & dashboard)
*/

@font-face {
  font-family: Roboto-Bold;
  src: url(/fonts/Roboto-Bold.ttf?ee7b96fa85d8fdb8c126409326ac2d2b);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto-Regular.ttf?3e1af3ef546b9e6ecef9f3ba197bf7d2);
}

@font-face {
  font-family: Roboto-Light;
  src: url(/fonts/Roboto-Light.ttf?fc84e998bc29b297ea20321e4c90b6ed);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/fonts/Roboto-Medium.ttf?d08840599e05db7345652d3d417574a9);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(/fonts/Roboto-Thin.ttf?89e2666c24d37055bcb60e9d2d9f7e35);
}

/**
* The css for the admin dashboard
*/

.container {
  /* margin: 0 auto; */
  max-width: 100% !important;
  width: 100% !important;
}

/*DASHBOARD CSS*/

html {
  font-family: Roboto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#row-navabr,
.row,
.col {
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

nav {
  background-color: #468DF0;
  width: 100%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  z-index: 99;
}

.dashboard-add-button {
  position: fixed;
  z-index: 9999;
  bottom: 4.9rem;
  right: 6rem;
  border-radius: 100%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #ff7346;
}

.dashboard-add-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 1.7rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu {
  color: #FFFFFF;
}

.menu-navbar .search-input-container {
  position: relative;
  display: inline-block;
  width: 42%;
  padding: 1.3rem 0;
}

.menu-navbar input.menu-navbar-search {
  display: block;
  border: 0;
  outline: 0;
  margin: 0;
  width: 100%;
  padding-left: 2rem;
  font-family: "Roboto-Light";
  font-size: 1.2rem;
}

.menu-navbar i.menu-navbar-i {
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-navbar-ul {
  float: right;
  display: inline-block;
  padding: 0.8rem 2rem;
}

.menu-navbar-ul li {
  display: inline-block;
}

.menu-navbar img {
  width: 3.605rem;
  height: 3.605rem;
}

.menu-navbar-ul .linkref-container {
  vertical-align: top;
  padding-top: 1rem;
  padding-right: 1rem;
}

.menu-navbar-ul .linkref-container .linkref {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.2rem;
}

.logo-dashboard {
  text-align: center;
  background-color: #E4E4E4;
  max-height: 60px;
}

.logo-img {
  background-image: url(/images/logo.png?f01b143261e921957bb94d3a53e10696);
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 60px;
}

.main-dashboard .univerbal {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #468DF0;
  font-family: Roboto-Bold;
}

.main-dashboard .univerbal .univerbal-social {
  color: black;
  font-size: 1.5rem;
  font-family: Roboto-Light;
  margin-top: -1rem;
}

.main-dashboard .univerbal p {
  color: #468DF0;
  font-family: Roboto-Bold;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

main {
  margin-top: 6rem;
}

.sidebar-dashboard-menu {
  position: fixed;
  z-index: 1;
  height: 100%;
  background-color: #FFFFFF;
  overflow-y: auto;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
}

.sub-header {
  margin: 2rem 0 0.4rem 0.4rem;
  line-height: 2rem;
  font-size: 1.8rem;
  color: #468DF0;
  font-family: Roboto-Regular;
}

.sub-header > i {
  font-size: 1.6rem;
  width: 1.6rem;
  padding: 0;
  margin: 0 0.5rem 0 1.5rem;
}

.menu-link {
  width: 100%;
}

.menu-item span {
  line-height: 1.6rem;
  font-size: 1.4rem;
}

.sidebar-dashboard-menu .menu-item a {
  line-height: 2rem;
  font-size: 1.4rem;
  margin: 1rem 0;
  padding: 0.3rem 0.5rem;
  color: #468DF0;
  font-family: Roboto-Regular;
}

div.menu-item i {
  width: 1.6rem;
  padding: 0;
  margin: 0 0.5rem 0 2.5rem;
  font-size: 1.2rem;
}

.sidebar-dashboard-menu .menu-item a.active {
  background-color: #E0E0E0;
  color: #FF7920;
  display: block;
}

.row {
  border-bottom: 1px solid #E4E4E4;
}

.container-row {
  background-color: #FFFFFF;
  margin-right: 8.66rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
}

.container-class1 {
  margin-left: 35.33rem;
  margin-top: 14.06rem;
}

.container-class1 .container-class1-title p,
.container-class1 .container-class1-title span {
  font-size: 1.2rem;
  font-family: Roboto-Medium;
  color: #000000;
}

.container-class1 .container-class1-item p,
.container-class1 .container-class1-item span {
  font-size: 1.2rem;
  font-family: Roboto-Regular;
  color: black;
}

.container-class1 .validation {
  font-family: Roboto-Thin;
  font-size: 3.6rem;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 100% !important;
  }
}

@media only screen and (min-width: 601px) {
  .container {
    width: 100% !important;
  }
}

