/**
* The scss loader for the admin dashboard
*/

/**
* The fonts css for the entire application (app & dashboard)
*/

@font-face {
  font-family: Roboto-Bold;
  src: url(/fonts/Roboto-Bold.ttf?ee7b96fa85d8fdb8c126409326ac2d2b);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto-Regular.ttf?3e1af3ef546b9e6ecef9f3ba197bf7d2);
}

@font-face {
  font-family: Roboto-Light;
  src: url(/fonts/Roboto-Light.ttf?fc84e998bc29b297ea20321e4c90b6ed);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(/fonts/Roboto-Medium.ttf?d08840599e05db7345652d3d417574a9);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(/fonts/Roboto-Thin.ttf?89e2666c24d37055bcb60e9d2d9f7e35);
}

html {
  line-height: 1.5;
  font-family: Roboto;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

/*DASHBOARD CSS*/

.container {
  min-width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #468DF0;
  width: 100%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
  height: 5.6rem;
}

.dashboard-add-button {
  position: fixed;
  z-index: 9999;
  bottom: 4.9rem;
  right: 6rem;
  border-radius: 100%;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #ff7346;
}

.dashboard-add-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: 1.7rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.menu {
  display: block;
  color: #FFFFFF;
  padding-left: 25rem;
  height: 5.6rem;
}

.menu-navbar .search-input-container {
  position: relative;
  display: inline-block;
  width: 42%;
  padding: 1.3rem 0;
}

.menu-navbar input.menu-navbar-search {
  display: block;
  border: 0;
  outline: 0;
  margin: 0;
  width: 100%;
  padding-left: 2rem;
  font-family: "Roboto-Light";
  font-size: 1.2rem;
}

.menu-navbar i.menu-navbar-i {
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-navbar-ul {
  float: right;
  padding-right: 0.8rem;
  height: auto;
  line-height: 5.6rem;
  margin: 0;
}

.menu-navbar-ul li {
  display: inline-block;
}

.menu-navbar-ul li span {
  margin-right: 10px;
  font-size: 1.6rem;
}

.menu-navbar img {
  width: 3.605rem;
  height: 3.605rem;
}

.menu-navbar-ul .linkref-container {
  vertical-align: top;
  padding-top: 1rem;
  padding-right: 1rem;
}

.menu-navbar-ul .linkref-container .linkref {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.2rem;
}

.main-dashboard .logo-dashboard {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #E4E4E4;
  height: 5.6rem;
  width: 23rem;
}

.main-dashboard .logo-dashboard .logo-img {
  position: relative;
  display: inline-block;
}

.main-dashboard .logo-dashboard .logo-img img {
  width: 2.5rem;
  height: auto;
}

.main-dashboard .univerbal {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #468DF0;
  font-family: Roboto-Bold;
}

.main-dashboard .univerbal .univerbal-social {
  color: black;
  font-size: 1.5rem;
  font-family: Roboto-Light;
  margin-top: -1rem;
}

.main-dashboard .univerbal p {
  color: #468DF0;
  font-family: Roboto-Bold;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

.main-dashboard-menu {
  position: fixed;
  z-index: 4;
  top: 5.6rem;
  left: 0;
  display: inline-block;
  width: 23rem;
  height: 100%;
  background-color: #FFFFFF;
  overflow-y: auto;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
}

.main-dashboard-menu .menu-item .menu-down-icon {
  margin-left: 9rem;
}

.row {
  border-bottom: 1px solid #E4E4E4;
}

.container-row {
  background-color: #FFFFFF;
  margin-right: 8.66rem;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
}

.container-class1 {
  margin-left: 30.33rem;
  margin-top: 10.06rem;
  margin-right: 10rem;
}

.container-class1 .container-class1-title p,
.container-class1 .container-class1-title span {
  font-size: 1.2rem;
  font-family: Roboto-Medium;
  color: #000000;
}

.container-class1 .container-class1-item p,
.container-class1 .container-class1-item span {
  font-size: 1.2rem;
  font-family: Roboto-Regular;
  color: black;
}

.container-class1 .validation {
  font-family: Roboto-Thin;
  font-size: 3.6rem;
}

.divider {
  border: 0;
  width: 100%;
  height: 1px;
}

.menu-sidebar {
  color: #b1b1b1;
  background-color: #b1b1b1;
}

.divider-link {
  color: #b1b1b18e;
  background-color: #b1b1b18e;
}

.sub-header {
  margin: 2rem 0 0.4rem 0;
  line-height: 3rem;
  font-size: 1.8rem;
  color: #468DF0;
  font-family: Roboto-Medium;
}

.sub-header i {
  margin-right: 0.5rem;
  margin-left: 0.4rem;
}

div.menu-item i {
  width: 1.6rem;
  padding: 0;
  margin: 0 0.5rem 0 2.5rem;
  font-size: 1.2rem;
}

.sidebar-dashboard-menu .menu-item a {
  line-height: 2rem;
  font-size: 1.4rem;
  margin: 1rem 0;
  padding: 0.3rem 0.5rem;
  color: #468DF0;
  font-family: Roboto;
  font-weight: normal;
}

.menu-item span {
  line-height: 1.6rem;
  font-size: 1.4rem;
}

.menu-item {
  height: 3rem;
}

a.menu-item.active span,
a.menu-title.active span {
  color: #FF7920;
}

.btn,
.btn-large,
.btn-small {
  color: #fff;
  background-color: #468DF0;
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: #FF7920;
}

.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
  background-color: #FF7920;
}

/* Date Display */

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #468df0;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #468DF0 !important;
}

.datepicker-date-display {
  background-color: #468DF0;
}

.timepicker-digital-display {
  background-color: #468DF0;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #468DF0;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #468DF0;
  -webkit-box-shadow: 0 1px 0 0 #468DF0;
  box-shadow: 0 1px 0 0 #468DF0;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #468DF0;
  -webkit-box-shadow: 0 1px 0 0 #468DF0;
  box-shadow: 0 1px 0 0 #468DF0;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #468DF0;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #468DF0;
  padding: 0 1rem;
}

.timepicker-close {
  color: #468DF0;
}

.timepicker-canvas line {
  stroke: #468DF0;
}

.timepicker-canvas-bearing {
  fill: #468DF0;
}

.timepicker-canvas-bg {
  fill: #468DF0;
}

.datepicker-table td.is-today {
  color: #468DF0;
}

.datepicker-table td.is-selected {
  background-color: #468DF0;
  color: #fff;
}

